<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Racer Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">

        <!-- Màn hình chính -->
        <activity
            android:name=".ui.MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình chơi game -->
        <activity
            android:name=".ui.GameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Màn hình Game Over -->
        <activity
            android:name=".ui.GameOverActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Cửa hàng -->
        <activity
            android:name=".ui.ShopActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Bảng xếp hạng -->
        <activity
            android:name=".ui.LeaderboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

    </application>

</manifest>